/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
  --main: #FAEDCD;
  --secondary: #CCD5AE;
  --accent: #D4A373;
  --secondary-light: #E9EDC9;
  --main-light: #FEFAE0;
}
body {
  background-color: var(--main);
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: var(--secondary);
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.info {
  background-color: #fff;
  max-width: 1200px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  justify-content: space-around;
}

.cat-main-photo {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50px;
  padding: 10px;
}

.user-account {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  font-size: 20px;
}

.login-btn {
  background: none;
  border: none;
  color: #ffff;
  cursor: pointer;
}

.your-cats-h {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.your-cats-title {
  color: #ffff;
  font-size: 60px;
  font-weight: 500;
}

.your-cats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}

.swipe-btn {
  background: none;
  border: none;
  cursor: pointer;
  width: 95px;
}

.cat-profile {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}

.about-cat {
  position: absolute;
  top: 370px;
  background-color: #ffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 330px;
}

.basic-info {
  border-top: solid 1px var(--accent);
  color: var(--accent);
  line-height: 35px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.cat-info {
  text-align: center;
  color: var(--accent);
  line-height: 35px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-right: 120px;
  font-size: 20px;
}

.name {
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 20px;
}

.cat-name {
  color: var(--secondary);
  font-weight: 500;
  padding-bottom: 10px;
}

.more-abt-cats, .view-more {
  border: none;
  background-color: var(--secondary);
  color: #ffff;
  text-decoration: underline;
  cursor: pointer;
  padding: 5px;
  width: 250px;
  border-radius: 10px;
  font-size: 20px;
}

.add-cat, .add-note {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
  padding: 30px;
}

.add-cat-btn, .add-note-btn {
  position: fixed;
  top: 700px;
  border: none;
  background-color: var(--secondary);
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-radius: 15px;
  width: 200px;
  font-size: 20px;
  cursor: pointer;
}

.daily-notes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.daily-notes-h {
  color: #ffff;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
}

.date {
  color: var(--accent);
  margin-bottom: 10px;
  font-weight: 500;
}

.daily-note-view {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.note {
  top: 370px;
  background-color: #ffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 330px;
}